name: Deploy Amplify Environment

on:
  workflow_call:
    inputs:
      AWS_REGION: 
        required: false
        type: string
        default: 'ap-southeast-1'
      AMPLIFY_DOMAIN:
        required: false
        type: string
        default: ''
      CORS_PARAM:
        required: false
        type: string
        default: '/applabs/cors/allowedOrigins'
      CORS_HANDLER:
        required: false
        type: string
        default: 'applabs-cors-handler'
    secrets:
      AMPLIFY_TOKEN:
        required: true
      ROLE_TO_ASSUME: 
        required: true

jobs:
  amplify:
    name: Deploy to Amplify Console
    runs-on: ubuntu-latest
    steps:

    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      id: creds
      uses: aws-actions/configure-aws-credentials@master
      with:
        role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
        aws-region:  ${{ inputs.AWS_REGION }}

    - name: Configure environment name
      id: env-name
      env:
        REPO: ${{ github.repository }}
      run: |
        BRANCH=`sed -e 's#.*\/\(\)#\1#' <<< $GITHUB_REF`
        PROJECT=`sed -e 's#.*\/\(\)#\1#' <<< $GITHUB_REPOSITORY`
        ENVIRONMENT=$PROJECT-$BRANCH
        echo "Environment name: $ENVIRONMENT"
        echo "Project name: $PROJECT"
        echo "::set-output name=environment::$ENVIRONMENT"
        echo "::set-output name=project::$PROJECT"
        echo "::set-output name=branch::$BRANCH"

    - name: Delete Amplify Cloudformation Stack 
      id: amplify-stack
      env:
        stackName: ${{ steps.env-name.outputs.environment }}
      run: |
        aws cloudformation delete-stack --stack-name $stackName

    - name: Amplify App Secrets
      env:
        EnvironmentName: ${{ steps.env-name.outputs.environment }}
        BRANCH: ${{ steps.env-name.outputs.branch }}
        PROJECT: ${{ steps.env-name.outputs.project }}
      run: |
        AMPLIFY_INFO=$(aws amplify list-apps --out json | jq -r '.apps[] | select(.name=="'$EnvironmentName'")'
        AMPLIFY_ID=$(echo $AMPLIFY_INFO | jq -r '.apps[] | select(.name=="'$EnvironmentName'") | .appId')
        AMPLIFY_DOMAIN=$(echo $AMPLIFY_INFO | jq -r '.apps[] | select(.name=="'$EnvironmentName'") | .defaultDomain')
        
        if [ $BRANCH == "master" ] 
        then
          PARAM_PREFIX="/production/$AMPLIFY_ID"
        else
          PARAM_PREFIX="/develop/$AMPLIFY_ID"
        fi
        
        secrets=$(aws ssm describe-parameters --parameter-filters Key=Name,Option=BeginsWith,Values=$PARAM_PREFIX | jq -r '.Parameters[] | .Name')
        backend_environments=$(aws amplify list-backend-environments --app-id $AMPLIFY_ID | jq -r .backendEnvironments[] | jq -r .environmentName)

        secrets_list=(`echo $secrets | sed 's/" "/\n/g'`)
        backend_environment_list=(`echo $backend_environments | sed 's/" "/\n/g'`)

        for secret in "${secrets_list[@]}"
        do
            secrets_value=$(aws ssm get-parameter --name $secret --with-decryption | jq -r '.Parameter | .Value')
            parameter_name=$(echo $secret | sed -e 's/\/.*\///g')

            for backend in "${backend_environment_list[@]}"
            do  
                echo "Deleting /amplify/$AMPLIFY_ID/$backend/$parameter_name"
                aws ssm delete-parameter --name "/amplify/$AMPLIFY_ID/$backend/$parameter_name"
            done
        done

        echo "AMPLIFY_DOMAIN=$AMPLIFY_DOMAIN" >> $GITHUB_ENV
      shell: bash

    - name: Update CORS
      env:
        CORS_PARAM: ${{ inputs.CORS_PARAM }}
        CORS_HANDLER: ${{ inputs.CORS_HANDLER }}
      run: |
        cors_list=$(aws ssm get-parameter --name $CORS_PARAM | jq -r '.Parameter | .Value')

        [[ ! $cors_list =~ .*"$AMPLIFY_DOMAIN".* ]] && exit 0
        
        updated_cors_list=$(echo $cors_list | sed "s/,$AMPLIFY_DOMAIN//g")
        aws ssm put-parameter --name $CORS_PARAM --value $updated_cors_list --type "String" --overwrite

        lambda_config=$(aws lambda get-function-configuration --function-name $CORS_HANDLER)
        revision_id=$(echo $lambda_config | jq -r '. | .RevisionId')
        allowed_headers=$(echo $lambda_config | jq -r '.Environment.Variables | .AllowedHeaders')
        aws lambda update-function-configuration --function-name $CORS_HANDLER --revision-id $revision_id --environment "Variables={AllowedOrigins='$cors_list',AllowedHeaders='$allowed_headers'}"